<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBHsX-5YzkyQ9DBNJgpTfL8tZUdl4Q0C4</string>
	<key>GCM_SENDER_ID</key>
	<string>884058304379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluxtonx.spokenodyssey</string>
	<key>PROJECT_ID</key>
	<string>spoken-odesey</string>
	<key>STORAGE_BUCKET</key>
	<string>spoken-odesey.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:884058304379:ios:19dea3751108f429ce97de</string>
</dict>
</plist>
